<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <description>springmvc与dubbo消费者项目的配置</description>

    <!--1. springmvc配置-->
    <!--扫描@Controller包-->
    <context:component-scan base-package="cn.itcast.web"/>
    <mvc:annotation-driven/>

    <!--2. dubbo配置-->
    <dubbo:application name="export_web_portal"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--扫描dubbo提供的@Referencer包-->
    <dubbo:annotation package="cn.itcast.web"/>
</beans>