<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <description>Spring整合Shiro的配置，关键点：SecurityManager</description>

    <!--1. 配置shiro的过滤器工厂。注意：此工厂的id是固定的，必须叫做"shiroFilter", 配置web.xml中的filter-name.-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--1.1 配置shiro的最核心对象：SecurityMananger-->
        <property name="securityManager" ref="securityManager"/>

        <!--1.2 配置登陆页面。认证失败后跳转的页面。-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--1.3 认证成功后跳转的页面。如果程序中有指定以程序中指定的为主。-->
        <property name="successUrl" value="/home.jsp"/>
        <!--1.4 权限校验失败（授权失败）跳转到的页面-->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>

        <!--1.5 过滤器链配置。 配置shiro内置的过滤器实现放行、认证、授权。-->
        <property name="filterChainDefinitions">
            <value>
                <!--A. 配置放行的资源-->
                <!--/login.jsp* 最后的*表示匹配任意参数-->
                <!--/css/** 表示匹配任意子目录-->
                /login.jsp* = anon
                /index.jsp* = anon
                /login* = anon
                /css/** = anon
                /img/** = anon
                /make/** = anon
                /plugins/** = anon
                <!--访问左侧资源需要右侧的权限
                /system/user/list.do = perms["用户管理"]-->

                <!--B. 其他资源都需要认证。这个要放到最后。-->
                /** = authc
            </value>
        </property>
    </bean>

    <!--2. 配置Shiro最核心对象securityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--注入自定义的realm-->
        <property name="realm" ref="myRealm"/>
    </bean>

    <!--3. 配置自定义的realm-->
    <bean id="myRealm" class="cn.itcast.web.shiro.AuthRealm">
        <!--注入凭证匹配器，作用：自动对用户输入的密码按照指定的算法加密(md5)-->
        <property name="credentialsMatcher" ref="credentialsMatcher"/>
    </bean>
    <!--4. 配置凭证匹配器, 指定对密码的加密算法为md5
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/>
    </bean>-->

    <!--自定义的凭证匹配器-->
    <bean id="credentialsMatcher" class="cn.itcast.web.shiro.CustomCredentialsMatcher"/>

    <!--开启shiro权限校验注解支持-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!--depends-on 创建当前bean之前，会先创建depends-on依赖的对象。-->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
</beans>